Repository company-manager/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

dev: configure project to use yarn instead of npm
  package-lock.json
  src/app/page.tsx
  yarn.lock
Due: prettier --write, eslint --fix, eslint

docs: edit readme
  README.md
Due: none

docs: edit readme
  README.md
  tsconfig.json
Due: prettier --write

Update README.md
  README.md
Due: none

dev: change commitlint rules
  commitlint.config.cjs
Due: none

dev: add and remove some rules from the commitlint file
  commitlint.config.cjs
Due: none

dev: start with shardcn
  src/components/layout/aside/nav/menuItems/menuItems.tsx
  src/config/antd.config.ts
Due: prettier --write, eslint --fix, eslint

dev: install tailwind, shadcn/ui and lucide icons
  components.json
  package.json
  postcss.config.js
  src/lib/utils.ts
  src/styles/globals.css
  tailwind.config.ts
  yarn.lock
Due: prettier --write, eslint --fix, eslint

test: testing new dependencies
  package.json
  src/app/layout.tsx
  src/app/page.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/styles/globals.css
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, eslint

dev: config
  .vscode/settings.json
  components.json
  src/app/layout.tsx
  src/app/page.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/lib/utils.ts
  src/styles/globals.css
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

dev: testing
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/page.tsx
  src/styles/globals.css
Due: prettier --write, eslint --fix, eslint

dev: First commit
  package-lock.json
  public/next.svg
  public/vercel.svg
  src/app/globals.scss
  src/app/page.tsx
  src/lib/AntdRegistry.tsx
  src/theme/themeConfig.ts
Due: prettier --write, eslint --fix, eslint

dev: create dev branch
  package-lock.json
  public/fonts/lato/Lato-Bold.ttf
  public/fonts/lato/Lato-Regular.ttf
  public/fonts/lato/Lato-Thin.ttf
  public/logo/CompanyManagerFull.png
  public/logo/CompanyManagerMedium.png
  public/logo/CompanyManagerSmall.png
  src/app/page.tsx
  src/components/config/AntDesignConfig.tsx
  src/components/layout/aside/Aside.styles.ts
  src/components/layout/aside/Aside.tsx
  src/components/layout/aside/Aside.types.ts
  src/components/layout/aside/nav/menuItems/menuItems.styles.ts
  src/components/layout/aside/nav/menuItems/menuItems.tsx
  src/components/layout/aside/nav/menuItems/menuItems.types.ts
  src/components/layout/aside/nav/nav.styles.ts
  src/components/layout/aside/nav/nav.tsx
  src/components/layout/aside/nav/nav.types.ts
  src/components/layout/header/Header.styles.ts
  src/components/layout/header/Header.tsx
  src/components/layout/header/Header.types.ts
  src/components/shared/container/Container.styles.ts
  src/components/shared/grid/Grid.styles.ts
  src/components/shared/grid/Grid.tsx
  src/components/shared/logo/Logo.styles.ts
  src/components/shared/logo/Logo.tsx
  src/components/shared/logo/logoImage/logoImage.styles.ts
  src/components/shared/logo/logoImage/logoImage.tsx
  src/components/shared/logo/version/version.styles.ts
  src/components/shared/logo/version/version.tsx
  src/config/antd.config.ts
  src/config/theme.config.ts
  src/context/themeContext/ThemeContext.tsx
  src/context/themeContext/ThemeContext.types.ts
  src/lib/AntdRegistry.tsx
  src/styles/globals.styles.tsx
  tsconfig.json
Due: prettier --write, eslint --fix, eslint

dev: testing
  README.md
Due: none

refactor: delete antd and styled components dependencies
  public/fonts/lato/Lato-Bold.ttf
  public/fonts/lato/Lato-Regular.ttf
  public/fonts/lato/Lato-Thin.ttf
  public/logo/CompanyManagerFull.png
  public/logo/CompanyManagerMedium.png
  public/logo/CompanyManagerSmall.png
  public/next.svg
  public/vercel.svg
  src/components/config/AntDesignConfig.tsx
  src/components/layout/aside/Aside.styles.ts
  src/components/layout/aside/Aside.tsx
  src/components/layout/aside/Aside.types.ts
  src/components/layout/aside/nav/menuItems/menuItems.styles.ts
  src/components/layout/aside/nav/menuItems/menuItems.tsx
  src/components/layout/aside/nav/menuItems/menuItems.types.ts
  src/components/layout/aside/nav/nav.styles.ts
  src/components/layout/aside/nav/nav.tsx
  src/components/layout/aside/nav/nav.types.ts
  src/components/layout/header/Header.styles.ts
  src/components/layout/header/Header.tsx
  src/components/layout/header/Header.types.ts
  src/components/shared/container/Container.styles.ts
  src/components/shared/grid/Grid.styles.ts
  src/components/shared/grid/Grid.tsx
  src/components/shared/logo/Logo.styles.ts
  src/components/shared/logo/Logo.tsx
  src/components/shared/logo/logoImage/logoImage.styles.ts
  src/components/shared/logo/logoImage/logoImage.tsx
  src/components/shared/logo/version/version.styles.ts
  src/components/shared/logo/version/version.tsx
  src/config/antd.config.ts
  src/config/theme.config.ts
  src/context/themeContext/ThemeContext.tsx
  src/context/themeContext/ThemeContext.types.ts
  src/lib/AntdRegistry.tsx
  src/styles/globals.styles.tsx
Due: prettier --write, eslint --fix, eslint

dev: install tailwind, shadcn/ui and lucide icons
  yarn.lock
Due: none

dev: First commit
  package-lock.json
  public/next.svg
  public/vercel.svg
  src/lib/AntdRegistry.tsx
Due: prettier --write, eslint --fix, eslint

dev: testing
  src/app/globals.scss
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/page.tsx
  src/theme/themeConfig.ts
  tsconfig.json
Due: prettier --write, eslint --fix, eslint

merge: resolving conflicts
  src/app/layout.tsx
  src/lib/AntdRegistry.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, eslint

dev: testing pages
  src/app/about/page.tsx
Due: prettier --write, eslint --fix, eslint

config: change next js config
  next.config.js
Due: prettier --write, eslint --fix, eslint

dev: aside initial layout
  src/app/layout.tsx
  src/app/page.tsx
  src/components/aside/aside.tsx
  src/components/shared/container/container.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
Due: prettier --write, eslint --fix, eslint

dev: config next js config file
  next.config.js
Due: prettier --write, eslint --fix, eslint

fix: bad import
  src/app/page.tsx
Due: prettier --write, eslint --fix, eslint

fix: bad import
  src/lib/AntdRegistry.tsx
  src/theme/themeConfig.ts
Due: prettier --write, eslint --fix, eslint

fix: delete package-lock.json
  package-lock.json
  package.json
  src/app/login/page.tsx
  src/components/ui/input.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, eslint

fix: delete package-lock.json
  package-lock.json
  package.json
  src/app/login/page.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  yarn.lock
Due: prettier --write, eslint --fix, eslint

test: testing login
  src/app/login/page.tsx
Due: prettier --write, eslint --fix, eslint

fix: delete package-lock.json
  package.json
  src/app/login/page.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/label.tsx
  yarn.lock
Due: prettier --write, eslint --fix, eslint

dev: add simple login flow
  .prettierrc
  package.json
  src/app/about/page.tsx
  src/app/layout.tsx
  src/app/login/page.tsx
  src/context/auth/AuthContext.tsx
  src/context/auth/types.ts
  src/hooks/useAuth.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, eslint

dev: testing login flows
  src/app/about/page.tsx
  src/app/layout.tsx
  src/app/login/page.tsx
  src/context/auth/AuthContext.tsx
  src/context/auth/types.ts
  src/hooks/types.ts
  src/hooks/useAuth.ts
  src/hooks/useRedirect.ts
Due: prettier --write, eslint --fix, eslint

dev: add refresh token flow
  src/context/auth/AuthContext.tsx
Due: prettier --write, eslint --fix, eslint

test: testing login
  src/app/dashboard/page.tsx
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/profile/page.tsx
  src/context/auth/AuthContext.tsx
  src/hoc/isAuth.tsx
  src/hooks/types.ts
  src/hooks/useAuth.ts
  yarn.lock
Due: prettier --write, eslint --fix, eslint

dev: implementing refresh token
  package.json
  src/app/dashboard/page.tsx
  src/app/login/page.tsx
  src/context/auth/AuthContext.tsx
  src/context/auth/types.ts
  src/hooks/types.ts
  src/hooks/useAuth.ts
  src/hooks/useAxios.ts
  src/hooks/useLogin.ts
  src/hooks/useRefreshToken.ts
  src/lib/axios.ts
  src/types/global.types.ts
  yarn.lock
Due: prettier --write, eslint --fix, eslint

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,scss}) or (any of: *.json)
  eslint --fix: any of: *.{js,jsx,ts,tsx,css,scss}
  eslint: any of: *.{js,jsx,ts,tsx,css,scss}
